<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ pageTitle }}</title>
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <u1 class="main-header__item_list">
                <li class="main-header__item"><a class="{{#if shopActive }}active{{/if}}" href="/">Shop</a></li>
                <li class="main-header__item"><a class="{{#if addProductActive}}active{{/if}}"href="/admin/add-product">Add product</a></li>
            </u1>
        </nav>
    </header>
    {{{ body }}}
</body>
</html>